.register-cuatro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow {
    display: flex;
    width: 330px;
}
.arrow img {
    align-items: flex-start;
    background-color: #2b2b2b;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.register-cuatro-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 280px;
}

.input-otp {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.input-otp input {
    margin: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}

.register-cuatro-container p:first-child {
    margin-top: 35px;
}

.register-cuatro-container span {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.register-cuatro-container .continue {
    margin-top: 140px;
    background-color: red;
    border: none;
    padding: 8px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}