.register-tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow {
    display: flex;
    width: 330px;
}
.arrow img {
    align-items: flex-start;
    background-color: #2b2b2b;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.register-tres-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 280px;
}
.register-tres-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #2b2b2b;
    outline: none;
    color: grey;
}
.register-tres-container p {
    margin-top: 35px;
    margin-bottom: 35px;
}
.register-tres-container span {
    margin-top: 8px;
    font-size: 10px;
    color: grey;
}
.register-tres-container .continue {
    margin-top: 270px;
    background-color: red;
    border: none;
    padding: 8px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}